parameters:
    env(APP_ENV): 'dev'
    env(APP_SECRET): 'your_secret_here'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    # Load whole src except these
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Domain/'
            - '../src/Kernel.php'

    # Controllers must be public
    App\Controller\:
        resource: '../src/Controller/'
        public: true
        tags: ['controller.service_arguments']

    # Explicit service definition (example: JwtService)
    App\Service\JwtService:
        arguments:
            $privateKeyPath: '%kernel.project_dir%/config/jwt/private.pem'
            $publicKeyPath: '%kernel.project_dir%/config/jwt/public.pem'
            $accessTtl: 3600
            $refreshTtl: 604800
