framework:
    rate_limiter:
        api:
            policy: 'sliding_window'
            limit: 100
            interval: '1 minute'

        login:
            policy: 'sliding_window'
            limit: 5
            interval: '1 minute'
